.Input{
    width:100%;
    padding:10px;
    box-sizing: border-box;
}
.Label{
    font-weight:bold;
    display:block;
    margin-bottom:8px;
    font: white;

}
.InputElement{
    display: inline-block;
    margin: 5px 0;
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(230, 230, 21);
    background-color:rgb(235, 235, 122);
}
.InputElement:focus{
    outline:none;
}
.Invalid{
    border:1px solid red;
    background-color:#fda49a;
}